/* Global Styling */
:root {
    background-color:#CAD2C5
}

.navbar {
    background-color: #2F3E46;
    text-decoration: none;
    padding-bottom: 1rem;
}

/* index.html */
.card {
    margin: none;
    background: #CAD2C5;
    padding: 0.5rem;
}

.info-btn {
    background-color: #2F3E46;
    color: #CAD2C5;
}

/* register.html */
.register-form {
    margin: auto;
    padding: 2rem 0rem;
    background: none;}

.register-form button {
    background-color: #354F52;
    max-width: 5rem;
    margin: auto;
}

.form-group {
    padding: 0.5rem;
}