/* Global Styling */
:root {
    background-color:#fff
}

.navbar {
    font-family: 'Oswald', sans-serif;
    background-color: #588b8b;
    text-decoration: none;
    padding-bottom: 1rem;
}

.show .navbar-nav {
    text-align: center;
}


/* index.html */
.card {
    font-family: 'Oswald', sans-serif;
    color: #c8553d;
    margin: 1rem;
    padding: 0.8rem;
    background-color: #ffd5c2;
}

.info-btn {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 0.5rem;
    max-width: 7rem;
    
}

/* register.html */
.register-form {
    font-family: 'Oswald', sans-serif;
    margin: auto;
    padding: 2rem 0rem;
    background: none;}

.register-form button {
    color: #ffd5c2;
    background-color: #c8553d;
    max-width: 5rem;
    margin: auto;
}

.form-group {
    font-family: 'Oswald', sans-serif;
    padding: 0.5rem;
}

/* register.html */
.submit-btn {
    font-family: 'Oswald', sans-serif;
    color: #ffd5c2;
    background-color: #c8553d;
    max-width: 10rem;
    text-align: center;
    text-decoration: none;
}