/* Global Styling */
:root {
    background-color: #354F52;
}

.navbar {
    background-color: #2F3E46;
    text-decoration: none;
    padding-bottom: 1rem;
}

/* index.html */
.card {
    margin: none;
    background: #CAD2C5;
    padding: 0.5rem;
}

.info-btn {
    background-color: #2F3E46;
    color: #CAD2C5;
}

/* Signup page */
.signup {
    margin: auto;
    padding: 2rem 0rem;
    background: none;
    max-width: 40rem;
}

.btn {
    background-color: #354F52;
    max-width: 5rem;
    margin: auto;
}

.flashes h4 {
    line-height: 3;
}