{% extends "base.html" %}
{% block content %}

    <h3>Add a route</h3>

    <div class="container">
        <form class="add-route" method="POST" action="{{ url_for('add_trail') }}">
            <div class="row">
                <div class="col-sm-4">
                    <label for="image_url" class="addmap-form-label main-font">Link to image of route:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="image_url" class="form-control" id="image_url" required>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="trail_name">Route Name:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" id="trail_name" class="form-control" required> <br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="description">Description:</label>
                </div>
                <div class="col-sm-8">
                    <textarea id="description" class="form-control" name="description" rows="5" cols="33"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="terrain">Terrain:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="terrain" required><br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="postcode">Postcode:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="postcode" required><br>
                </div>
            </div>
            <div class="submit-btn">
                <button type="submit" class="btn">Add Route</button>
            </div>
        </form>
    </div>

  
{% endblock %}