{% extends "base.html" %}
{% block content %}

    <h3>Add a route</h3>

    <div class="container">
        <form class="add-route">
            <div class="row">
                <div class="col-sm-4">
                    <label for="name">Route Name:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" id="name" required> <br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="description">Description:</label>
                </div>
                <div class="col-sm-8">
                    <textarea id="description" name="description" rows="5" cols="33"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="terrain">Terrain:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" id="terrain" required><br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="postcode">Postcode:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" id="postcode" required><br>
                </div>
            </div>
        </div>
        </form>
    </div>

  
{% endblock %}