{% extends "base.html" %}
{% block content %}

    <h3 class="page-title">Edit a route</h3>

    <div class="container">
        <form class="edit-route" method="POST" action="{{ url_for('edit_trails', trails_id=trail._id) }}">
            <div class="row">
                <div class="col-sm-4">
                    <label for="trail_name">Route Name:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" id="trail_name" name="trail_name" value="{{ trail.trail_name }}" required> <br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="description">Description:</label>
                </div>
                <div class="col-sm-8">
                    <textarea id="description" name="description" rows="5" cols="33">
                        {{- trail.description -}}
                    </textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="terrain">Terrain:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" id="terrain" name="terrain" value="{{ trail.terrain }}" required><br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="postcode">Postcode:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" id="postcode" name="postcode" value="{{ trail.postcode }}" required><br>
                </div>
            </div>
            <div class="submit-btn">
                <button href="{{ url_for("trails") }}" type="submit" class="btn">Cancel</button>
                <button type="submit" class="btn">Edit Route</button>
            </div>
        </form>
    </div>

  
{% endblock %}