{% extends 'base.html' %}
{% block content %}

    
    <div class="container trail-card">
    <div class="row">
        {% for route in trails %}
        <div class="card-control col-12 col-md-6 col-lg-4">
            <div class="card shadow-effect">
                <h5 class="card-title text-center main-font secondary-color">{{ route.trail_name }}</h5>
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card-text main-font">{{ route.description }}</p>
                    <p class="card-text main-font"><strong>Terrain:</strong> {{ route.terrain }}</p>
                    <p class="card-text main-font"><strong>Postcode:</strong> {{ route.postcode }}</p>
                    <p class="card-text main-font"><strong>Added by:</strong> {{ route.created_by }}</p>
                </div>
                <div class="info-btn">
                    <button type="button" class="btn">More Information</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    
{% endblock %}
