{% extends 'base.html' %}
{% block content %}

    <!-- used code from Stackoverflow to fix issue with image height being 0 https://stackoverflow.com/questions/53500221/css-hero-image-height-issue -->
    <!-- image from https://www.pexels.com/photo/brown-and-gray-mountains-near-body-of-water-under-white-cloudy-sky-4538764/ -->
    <div class="hero">
    <div class="hero-image-container">
        <figure class="hero-image" style="background-image: url('static/img/pexels-avonne-stalling-4538764.jpeg'); max-height: 504px;"></figure>
        <div class="hero-text">
        <h1>Walking Ways</h1>
        <h2>A collection of walking routes in North Wales</h2>
        </div>
    </div>
    </div>
    
    <!-- Card containing all the information about each route -->
    <div class="container trail-card">
        <div class="row">
            {% for route in trails %}
            <div class="card-control col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="{{ route.image_url }}" class="card-img-top" alt="{{ route.trail_name }}">
                    <h5 class="card-title text-center main-font secondary-color">{{ route.trail_name }}</h5>
                    <div class="card-body">
                        <p class="card-text main-font">{{ route.description }}</p>
                        <p class="card-text main-font"><strong>Terrain:</strong> {{ route.terrain }}</p>
                        <p class="card-text main-font"><strong>Start Point:</strong> {{ route.start }}</p>
                        <p class="card-text main-font"><strong>End Point:</strong> {{ route.end }}</p>
                        <p class="card-text main-font"><strong>Added by:</strong> {{ route.created_by }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}
