{% extends "base.html" %}
{% block content %}

<h3 class="page-title">Log in</h3>

<div class="container register-form">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 form-style">
            <form method=POST action="{{ url_for('login') }}">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
                <div class="btn-container">
                    <button type="submit" class="btn">Login</button>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>
  
{% endblock %}