{% extends "base.html" %}
{% block content %}

    <div class="page-heading">
        <h2 class="page-title">Welcome to your profile: {{ username.name }}</h2>
        <p >Here you can view, edit or delete the routes you have added</p>
    </div>

    {% for route in trails %}
            <div class="card-control col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="{{ route.image_url }}" class="card-img-top" alt="{{ route.trail_name }}">
                    <h5 class="card-title text-center main-font secondary-color">{{ route.trail_name }}</h5>
                    <div class="card-body">
                        <p class="card-text main-font">{{ route.description }}</p>
                        <p class="card-text main-font"><strong>Terrain:</strong> {{ route.terrain }}</p>
                        <p class="card-text main-font"><strong>Postcode:</strong> {{ route.postcode }}</p>
                        <p class="card-text main-font"><strong>Added by:</strong> {{ route.created_by }}</p>
                    </div>
                    {% if session.username == route.created_by  %}
                    <div class="btns">
                        <a role="button" href="{{ url_for('edit_trails', trails_id=route._id) }}" class="trails-btn btn btn-primary btn-sm">Edit</a>
                        <a role="button" href="{{ url_for('delete_trails', trails_id=route._id) }}" class="trails-btn btn btn-secondary btn-sm">Delete</a>
                    </div>     
                    {% endif %}


                </div>
            </div>
            {% endfor %}
  
{% endblock %}