{% extends "base.html" %}
{% block content %}

<h3 class="page-title">Register your account</h3>
<div class="sub-heading">
    <p>Already have an account? Login <a href="{{url_for('login') }}" class="click-here">here</a></p>
</div>

<div class="container register-form">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 form-style">
            <form method=POST action="{{ url_for('register') }}">
                <div class="form-group">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <div class="btn-container">
                    <button type="submit" class="btn">Register</button>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>
  
{% endblock %}